body {
    margin: 0;
    overflow: hidden;
    background-color: lightblue;
}

canvas {
    /* display: block; */
    background-color: #87ceeb;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}