body {
    margin: 0;
    overflow: hidden;
}

canvas {
    /* display: block; */
    background-color: black;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}